{
  "test-name": "test-1",
  "service-url": "@SERVICE_URL@",
  "partner-id": "@PARTNER_ID@",
  "stream-type": "hls",
  "path-to-ffmpeg": "c:/ffmpeg/bin/ffmpeg.exe",
  "encoder": {
    "name": "ffmpeg",
    "path-to-executable": "c:/ffmpeg/bin/ffmpeg.exe",
    "args": "@ARGS@"
  },
  "test-duration": @TEST_DURATION@,
  "destination-folder": "@DESTINATION_FOLDER@",
  "delete-files": @DELETE_FILES@,
  "entry-details": {
    "entry-name": "auto_test",
    "is-random": true,
    "dvr": @DVR@,
    "recording": @RECORDING@,
    "conversion-profile-id": 6297361
  }
}

